/* General */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #eee;
}

img {
	display: block;
}

/* Clearfix*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block; 
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Navbar */
.navbar {
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, .15);
}

.navbar__logo {
	width: 10%;
	float: left;
	padding: 5px;
}

.navbar__logo__autograph {
	width: 100%;
}

.navbar__logo__autograph:hover {
	cursor: pointer;
}

.navbar__menu {
	width: 90%;
	float: left;
	position: relative;
	transform: translateY(50%);
	padding-left: 15px;
}

.navbar__menu__button {
	font-size: 18px;
	color: #000;
	display: inline-block;
	padding: 5px 15px 8px 15px;
	margin: 0 5px;
	border-radius: 15px;
}

.navbar__menu__button:hover {
	cursor: pointer;
	background: #000;
	color: #fff;
	transition: all 0.5s ease;
}

/* Banner */
.banner {
	width: 100%;
	padding: 0;
	margin-top: 70px;
}


/* Follow */
.follow {
	width: 100%;
	margin-bottom: 15px;
}

.follow__banner {
	width: 100%;
	background: #fff;
	text-align: center;
	padding: 5px 0;
	position: relative;
}

.follow__banner__text {
	display: inline-block;
	font-size: 18px;
	top: 50%;
	transform: translateY(-50%);
}

.follow__banner__icon {
	display: inline-block;
	margin-left: 5px;
}

.follow__banner__icon__img {
	width: 40px;
}

.follow__banner__icon__img:hover {
	width: 50px;
	cursor: pointer;
	transition: all 0.5s ease;
}

/* Body */
.body {
	width: 100%;
}

.body__x__title {
	font-family: 'Bebas Neue';
	color: #fff;
	font-size: 60px;
	text-shadow: 1.5px -1.5px 2px rgba(0, 0, 0, 0.15);
	display: inline-block;
}

.body__x__link {
	margin-left: 8px;
	display: inline-block;
	font-size: 18px;
	color: dodgerblue;
	text-shadow: 1.5px -1.5px 2px rgba(0, 0, 0, 0.15);
	transition: all 0.5s ease;
}

.body__x__link:hover {
	cursor: pointer;
	transform: translateY(-5px);
}

.body__x__link:active {
	transform: translateY(0px);
}

.body__main {
	width: 800px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
}

.body__main__blog {
	width: 100%;
	background-color: #fff;
	padding: 70px 100px;
	margin-top: -18px;
}

.body__main__blog__img {
	width: 100%;
	margin: 0px auto;
	margin-bottom: 30px;
}

.body__main__blog__video {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 30px;
}

.body__main__blog__video__src {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.body__strip {
	width: 385px;
	float: left;
}

.body__strip__music, .body__strip__instagram, .body__strip__newsletter {
	width: 100%;
	background-color: #fff;
	margin-top: -18px;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
}

.body__strip__newsletter {
	padding: 50px;
}

.body__strip__music__item {
	width: 100%;
	position: relative;
	transition: all 0.5s ease;
}

.body__strip__music__item:hover {
	cursor: pointer;
	background-color: #eee;
}

.body__strip__music__item__img {
	width: 30%;
	float: left;
}

.body__strip__music__item__text {
	width: 70%;
	float: left;
	text-align: left;
	padding-left: 10px;
}

.body__strip__music__item__text__title {
	font-size: 18px;
}

.body__strip__music__item__text__sub {
	font-size: 14px;
	text-transform: uppercase;
	color: darkgray;
	transition: all 0.1s ease;
}

.body__strip__music__item:hover .body__strip__music__item__text__title, .body__strip__music__item:hover .body__strip__music__item__text__sub {
	color: dodgerblue;
}

.body__strip__music__item:active .body__strip__music__item__text {
	color: #fff;
}

.body__strip__music__break {
	width: 100%;
	height: 1px;
	background-color: #ddd;
	margin: 5px 0;
}


/* Double section (e.g. About, Contact) */
.double {
	width: 100%;
	margin-top: 70px;
}

.double > .banner-width {
	background-color: #fff;
}

.double__text {
	width: 50%;
	padding: 70px 100px;
	float: left;
}

.double__img {
	width: 50%;
	float: left;
}


/* Contact */
.contact__label {
	margin-left: 15px;
}

.contact__input, .contact__textarea {
	width: 100%;
	margin-bottom: 15px;
	padding: 5px;
	border-radius: 15px;
	border: 1px solid #ccc;
	padding-left: 15px;
}

.contact__textarea {
	height: 150px;
	resize: none;
}

.contact__button {
	background-color: #000;
	width: 100%;
	padding: 10px 0px;
	border: none;
	border-radius: 15px;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.5s ease;
}

.contact__button:hover {
	background-color: dodgerblue;
	cursor: pointer;
}

.contact__button:active {
	transform: translateY(5px);
}


/* Construction */
.construction {
	width: 100%;
	margin-top: 100px;
	text-align: center;
}

.construction__profile {
	width: 250px;
	margin: 0px auto;
	border-radius: 100%;
	border: 10px solid #fff;
	margin-bottom: 20px;
}




/* Splash */
.splash {
	width: 100%;
	position: relative;
	border: 1px solid red;
	background: #40f;
}

.splash__img {
	width: 100%;
	border: 1px solid blue;
}

.splash__img--desktop{
	width: 100%;
	display: inline-block;
}

.splash__img--mobile{
	width: 100%;
	display: none;
}

/* Mobile view */
@media(max-width: 700px) {
	.splash__img--desktop {
		display: none;
	}

	.splash__img--mobile {
		display: inline-block;
	}
}