/* Fonts */
@font-face {
	font-family: 'Bison';
	src: url('../fonts/bison_bold.ttf');
}

/* General */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* Clearfix*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block; 
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Splash */
.splash {
	width: 100%;
	position: relative;
}

.splash__img {
	width: 100%;
}

.splash__img--desktop{
	width: 100%;
	display: inline-block;
}

.splash__img--mobile{
	width: 100%;
	display: none;
}

/* Mobile view */
@media(max-width: 700px) {
	.splash__img--desktop {
		display: none;
	}

	.splash__img--mobile {
		display: inline-block;
	}
}