<div class="double">
	<div class="banner-width clearfix">
		<div class="double__text">
			<h1 class="title--line-spacing">About Me</h1>
			<p class="p--line-spacing">Hi! I'm Deldi.</p>
			<p class="p--line-spacing">I am an independent singer-songwriter based in the greater Seattle area.</p>
			<p class="p--line-spacing">I like to think of the songs I write as paper airplanes. As scary as it can be to chuck my lyric sheets out my window for the world to consume, I believe that the risk of laying bare my vulnerabilities is well worth it if my paper airplanes happen to land in the hands of someone who really needed them&mdash;someone who I couldn't have reached otherwise.</p>
			<p class="p--line-spacing">With all that said, I hope my music uplifts you. I hope it helps you heal.</p>
			<p class="signature">Lovingly Yours,</p>
			<img class="autograph" src="./media/autograph.png"/>

			<div class="follow__banner__icon">
				<a href="https://www.youtube.com/channel/UCnGp_LJYwSGRFCwT772H9Zw/" target="_blank">
					<img title="YouTube" class="follow__banner__icon__img" src="./media/logo_yt.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://open.spotify.com/artist/0OX8DQLOWevSc0DCRpge19" target="_blank">
					<img title="Spotify" class="follow__banner__icon__img" src="./media/logo_spotify.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://music.apple.com/us/artist/deldi/1442061824" target="_blank">
					<img title="Apple Music" class="follow__banner__icon__img" src="./media/logo_apple-music.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://tidal.com/browse/artist/10595176" target="_blank">
					<img title="Tidal" class="follow__banner__icon__img" src="./media/logo_tidal.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://soundcloud.com/user-838804511" target="_blank">
					<img title="SoundCloud" class="follow__banner__icon__img" src="./media/logo_soundcloud.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://www.instagram.com/lovinglydeldi/" target="_blank">
					<img title="Instagram" class="follow__banner__icon__img" src="./media/logo_instagram.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://twitter.com/lovinglydeldi" target="_blank">
					<img title="Twitter" class="follow__banner__icon__img" src="./media/logo_twitter.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://www.facebook.com/lovinglydeldi/" target="_blank">
					<img title="Facebook" class="follow__banner__icon__img" src="./media/logo_fb.png"/>
				</a>
			</div>
		</div>
		<div class="double__img">
			<img class="img--full" src="./media/poster_tunic.png"/>
		</div>
	</div>
</div>