<div class="construction">
	<div class="body-width">
		<img class="construction__profile" src="./media/profile.jpg"/>
		<h1 class="title--line-spacing">This page is under construction</h1>
		<p class="p--line-spacing">Apologies, I am still coding this part of the website.</p>
		<p class="p--line-spacing">Please rest assured that I will update this page as fast as my fingers can type (and as soon as I can find time to program).</p>
		<p class="p--line-spacing">If you would like to contact me, you can reach me at <a href="mailto:deldimedia@gmail.com"><strong style="color:dodgerblue">deldimedia@gmail.com.</strong></a></p>
		<p class="signature">Lovingly Yours,</p>
		<img class="autograph img--center" src="./media/autograph.png"/>
	</div>

	<p class="p--line-spacing">Check me out on:</p>
	<div class="follow__banner__icon">
		<a href="http://bit.ly/deldiyoutube" target="_blank">
			<img title="YouTube" class="follow__banner__icon__img" src="./media/logo_yt.png"/>
		</a>
	</div>
	<div class="follow__banner__icon">
		<a href="http://bit.ly/deldispotify" target="_blank">
			<img title="Spotify" class="follow__banner__icon__img" src="./media/logo_spotify.png"/>
		</a>
	</div>
	<div class="follow__banner__icon">
		<a href="http://bit.ly/deldiapplemusic" target="_blank">
			<img title="Apple Music" class="follow__banner__icon__img" src="./media/logo_apple-music.png"/>
		</a>
	</div>
	<div class="follow__banner__icon">
		<a href="http://bit.ly/delditidal" target="_blank">
			<img title="Tidal" class="follow__banner__icon__img" src="./media/logo_tidal.png"/>
		</a>
	</div>
	<div class="follow__banner__icon">
		<a href="http://bit.ly/deldisoundcloud" target="_blank">
			<img title="SoundCloud" class="follow__banner__icon__img" src="./media/logo_soundcloud.png"/>
		</a>
	</div>
	<div class="follow__banner__icon">
		<a href="https://www.instagram.com/lovinglydeldi/" target="_blank">
			<img title="Instagram" class="follow__banner__icon__img" src="./media/logo_instagram.png"/>
		</a>
	</div>
	<div class="follow__banner__icon">
		<a href="https://twitter.com/lovinglydeldi" target="_blank">
			<img title="Twitter" class="follow__banner__icon__img" src="./media/logo_twitter.png"/>
		</a>
	</div>
	<div class="follow__banner__icon">
		<a href="https://www.facebook.com/lovinglydeldi/" target="_blank">
			<img title="Facebook" class="follow__banner__icon__img" src="./media/logo_fb.png"/>
		</a>
	</div>
	<div class="follow__banner__icon">
		<a href="https://snapchat.com/add/lovinglydeldi/" target="_blank">
			<img title="Snapchat" class="follow__banner__icon__img" src="./media/logo_snapchat.png"/>
		</a>
	</div>
</div>