<div class="double">
	<div class="banner-width clearfix">
		<div class="double__img">
			<img class="img--full" src="./media/poster_floral.png"/>
		</div>
		<div class="double__text">
			<h1 class="title--line-spacing">Contact</h1>
			<p class="p--line-spacing">To reach me, you can email me at <a class="link" href="mailto:deldimedia@gmail.com"><strong>deldimedia@gmail.com</strong></a> or fill out the form below. I would love to hear from you.</p>

			<form id="contact-form">
				<label class="contact__label">Name</label>
				<input class="contact__input" type="text" name="name"/>
				<label class="contact__label">Email</label>
				<input class="contact__input" type="text" name="email"/>
				<label class="contact__label">Subject</label>
				<input class="contact__input" type="text" name="subject"/>
				<label class="contact__label">Message</label>
				<textarea class="contact__textarea" name="message"></textarea>
				<button id="contact-submit" class="contact__button">
					<h4>Submit</h4>
				</button>
			</form>
		</div>
	</div>
</div>