<div class="banner">
	<div class="banner-width">
		<img class="img--full" src="./media/banner_i'd-give-you-a-halo.jpg"/>
	</div>
</div>

<div class="follow">
	<div class="banner-width">
		<div class="follow__banner">
			<h2 class="follow__banner__text">Follow</h2>
			<div class="follow__banner__icon">
				<a href="https://www.youtube.com/channel/UCnGp_LJYwSGRFCwT772H9Zw/" target="_blank">
					<img title="YouTube" class="follow__banner__icon__img" src="./media/logo_yt.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://open.spotify.com/artist/0OX8DQLOWevSc0DCRpge19" target="_blank">
					<img title="Spotify" class="follow__banner__icon__img" src="./media/logo_spotify.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://music.apple.com/us/artist/deldi/1442061824" target="_blank">
					<img title="Apple Music" class="follow__banner__icon__img" src="./media/logo_apple-music.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://tidal.com/browse/artist/10595176" target="_blank">
					<img title="Tidal" class="follow__banner__icon__img" src="./media/logo_tidal.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://soundcloud.com/user-838804511" target="_blank">
					<img title="SoundCloud" class="follow__banner__icon__img" src="./media/logo_soundcloud.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://www.instagram.com/lovinglydeldi/" target="_blank">
					<img title="Instagram" class="follow__banner__icon__img" src="./media/logo_instagram.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://twitter.com/lovinglydeldi" target="_blank">
					<img title="Twitter" class="follow__banner__icon__img" src="./media/logo_twitter.png"/>
				</a>
			</div>
			<div class="follow__banner__icon">
				<a href="https://www.facebook.com/lovinglydeldi/" target="_blank">
					<img title="Facebook" class="follow__banner__icon__img" src="./media/logo_fb.png"/>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="body">
	<div class="banner-width clearfix">
		<div class="body__main clearfix">
			<h1 class="body__x__title">Latest Blogs</h1>
			<a href="#/blog">
				<h2 class="body__x__link">See more blog posts ></h2>
			</a>
			<div class="body__main__blog">
				<h1 class="title--center"><em>The Bedroom Covers:</em></h1>
				<h1 class="title--center">&quot;Is There Somewhere&quot;</h1>
				<h4 class="date title--center title--line-spacing">December 21, 2019</h6>
				<div class="body__main__blog__video">
					<iframe class="body__main__blog__video__src" width="560" height="315" src="https://www.youtube.com/embed/g3gMZqPKR_A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/732041602&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
				<p class="p--line-spacing">Hi there!</p>
				<p class="p--line-spacing">As a songwriter, among a few other names, Halsey has been one of my biggest influences. As such, for my third entry in <em>The Bedroom Covers</em>, I'm excited to post a short, very simple cover of &quot;Is There Somewhere&quot;, a song from her debut EP, Room 93.</p>
				<p class="p--line-spacing">I love so many of Halsey's songs, so I don't expect this to be the last time I end up covering her songs. I hope to get the chance to do that soon.</p>
				<p class="p--line-spacing">To check out my cover, you can visit either <strong><a class="link" href="https://www.youtube.com/watch?v=g3gMZqPKR_A&feature=emb_title" target="_blank">YouTube</a></strong> or <strong><a class="link" href="https://soundcloud.com/user-838804511/is-there-somewhere" target="_blank">SoundCloud</a></strong>. I hope you enjoy!
				<p class="signature">Lovingly Yours,</p>
				<img class="autograph" src="./media/autograph.png"/>
			</div>

			<div class="body__main__blog">
				<h1 class="title--center"><em>The Bedroom Covers:</em> &quot;Shallow&quot;</h1>
				<h4 class="date title--center title--line-spacing">December 16, 2019</h6>
				<div class="body__main__blog__video">
					<iframe class="body__main__blog__video__src" width="560" height="315" src="https://www.youtube.com/embed/ZvC391NVQv0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/729002482&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
				<p class="p--line-spacing">Hi there!</p>
				<p class="p--line-spacing">For my second entry in my cover series, <em>The Bedroom Sessions</em>, I chose to sing &quot;Shallow&quot; by Lady Gaga and Bradley Cooper (the primary song featured in the <em>A Star is Born</em> movie soundtrack).</p>
				<p class="p--line-spacing">This song is one of my favorite original songs written specifically for a film (and the reason I say &quot;one of&quot; is because, in my book, Disney soundtrack songs will give any song in the world a run for its money). During the 91st Academy Awards, I was very happy when &quot;Shallow&quot; won Best Original Song. It was one of the only categories I guessed correctly on my Oscar ballot.</p>
				<p class="p--line-spacing">It was such a treat for me to cover a duet by two incredibly talented people. Lady Gaga, in particular, has always been a source of inspiration for me throughout her career. And, of course, I was awestruck by Bradley Cooper's performance on the song, especially considering that I had no idea he had such a beautiful, gritty singing voice. They perform the song with such emotion, and I can only hope to put forth my most noble attempt at recreating that magic.</p>
				<p class="p--line-spacing">To check out my cover, you can visit either <strong><a class="link" href="https://www.youtube.com/watch?v=ZvC391NVQv0&feature=emb_title" target="_blank">YouTube</a></strong> or <strong><a class="link" href="https://soundcloud.com/user-838804511/shallow" target="_blank">SoundCloud</a></strong>. I hope you enjoy!
				<p class="signature">Lovingly Yours,</p>
				<img class="autograph" src="./media/autograph.png"/>
			</div>

			<div class="body__main__blog">
				<h1 class="title--center">Launch of <em>The Bedroom Covers</em>:</h1>
				<h1 class="title--center">&quot;When the Stars Go Blue&quot;</h1>
				<h4 class="date title--center title--line-spacing">December 12, 2019</h4>
				<div class="body__main__blog__video">
					<iframe class="body__main__blog__video__src" width="560" height="315" src="https://www.youtube.com/embed/4BU9zxPgi1A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<iframe class="title--line-spacing" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/726176017&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
				<p class="p--line-spacing">Hello world!</p>
				<p class="p--line-spacing">Welcome to my first blog post, where I launch <em>The Bedroom Covers</em>, my cover series where I post short renditions of other artists' songs.</p>
				<p class="p--line-spacing">I named my cover series <em>The Bedroom Covers</em> because of the rawness with which the covers are performed. One instrument, one voice, and minimally produced&mdash;in other words, what you would expect to hear if someone was practicing alone in their bedroom. Which is fitting because these covers are, in fact, recorded in my bedroom. (Also, I thought it'd be a fun reference to how, in many other contexts, the word &quot;covers&quot; refers to the blankets on a bed. As many of you will no doubt come to find out, I am a big fan of wordplay.)</p>
				<p class="p--line-spacing">In terms of what I intend to use this cover series for, besides being a fun change of pace from producing original content, <em>The Bedroom Covers</em> acts as a channel for me to experiment with different musical and vocal styles that I can eventually incorporate into my own music. It also allows me to bring visibility to other content creators who have influenced me in some way.</p>
				<p class="p--line-spacing">For my first cover, I chose to sing &quot;When The Stars Go Blue&quot; by Tim McGraw.</p>
				<p class="p--line-spacing">While the original was sung by Tim McGraw, my cover is actually based off of the <em>One Tree Hill</em> rendition, performed by Bethany Joy Lenz and Tyler Hilton. The song was heavily featured in Season 2, when musician Chris Keller (played by Hilton) enlists the help of my favorite character, aspiring singer Haley (played by Lenz), to create a hit song. This song, of course, happened to be <em>When The Stars Go Blue</em>.</p>
				<p class="p--line-spacing">Since the song was featured on <em>One Tree Hill</em>, both the original and cover have become a couple of my favorite songs of all-time. <em>One Tree Hill</em> itself ended up becoming one of my favorite TV shows growing up and helped me discover a lot of other wonderful music that I wouldn't have known about otherwise. (Among other things, the show fostered my healthy adoration for all things Gavin DeGraw.)</p>
				<p class="p--line-spacing">You can check out my cover on both <strong><a class="link" href="https://www.youtube.com/watch?v=4BU9zxPgi1A&feature=emb_title" target="_blank">YouTube</a></strong> and <strong><a class="link" href="https://soundcloud.com/user-838804511/when-the-stars-go-blue" target="_blank">SoundCloud</a></strong>. And, of course, you can always check out the original artists and maybe even give <em>One Tree Hill</em> a watch.</p>
				<p class="signature">Lovingly Yours,</p>
				<img class="autograph" src="./media/autograph.png"/>
				<img class="body__main__blog__img" src="./media/cover_the-bedroom-covers.png"/>
			</div>
		</div>

		<div class="body__strip">
			<h1 class="body__x__title">Music</h1>
			<a href="#/music">
				<h2 class="body__x__link">See more original releases ></h2>
			</a>
			<div class="body__strip__music">
				<div class="body__strip__music__item clearfix">
					<div class="body__strip__music__item__img">
						<img class="img--full" src="./media/single_i'd-give-you-a-halo.jpg"/>
					</div>
					<div class="body__strip__music__item__text">
						<div class="vertical-align">
							<h1 class="body__strip__music__item__text__title">I'd Give You A Halo</h1>
							<h2 class="body__strip__music__item__text__sub">Coming December 2019</h2>
						</div>
					</div>
				</div>
				<div class="body__strip__music__break"></div>
				<div class="body__strip__music__item clearfix">
					<div class="body__strip__music__item__img">
						<img class="img--full" src="./media/placeholder_single.jpg"/>
					</div>
					<div class="body__strip__music__item__text">
						<div class="vertical-align">
							<h1 class="body__strip__music__item__text__title">To Be Announced...</h1>
							<h2 class="body__strip__music__item__text__sub">Coming Soon</h2>
						</div>
					</div>
				</div>
				<div class="body__strip__music__break"></div>
				<div class="body__strip__music__item clearfix">
					<div class="body__strip__music__item__img">
						<img class="img--full" src="./media/placeholder_single.jpg"/>
					</div>
					<div class="body__strip__music__item__text">
						<div class="vertical-align">
							<h1 class="body__strip__music__item__text__title">To Be Announced...</h1>
							<h2 class="body__strip__music__item__text__sub">Coming Soon</h2>
						</div>
					</div>
				</div>
			</div>

			<h1 class="body__x__title">Newsletter</h1>
			<a href="#/contact">
				<h2 class="body__x__link">Contact Deldi ></h2>
			</a>
			<div class="body__strip__newsletter">
				<h2 class="p--line-spacing">Sign up to stay up-to-date with Deldi's newest content</h2>
				<form id="newsletter-form">
					<label>Email address</label>
					<input class="contact__input" type="text" name="email" placeholder="deldimedia@gmail.com"/>
					<button id="newsletter-submit" class="contact__button">Sign up</button>
				</form>
			</div>

			<h1 class="body__x__title">Bedroom</h1>
			<a href="#/music">
				<h2 class="body__x__link">See more covers ></h2>
			</a>
			<div class="body__strip__music">
				<div class="body__strip__music__item clearfix">
					<div class="body__strip__music__item__img">
						<img class="img--full" src="./media/cover_is-there-somewhere.jpg"/>
					</div>
					<div class="body__strip__music__item__text">
						<div class="vertical-align">
							<h1 class="body__strip__music__item__text__title">Is There Somewhere</h1>
							<h2 class="body__strip__music__item__text__sub">Halsey</h2>
						</div>
					</div>
				</div>
				<div class="body__strip__music__break"></div>
				<div class="body__strip__music__item clearfix">
					<div class="body__strip__music__item__img">
						<img class="img--full" src="./media/cover_shallow.png"/>
					</div>
					<div class="body__strip__music__item__text">
						<div class="vertical-align">
							<h1 class="body__strip__music__item__text__title">Shallow</h1>
							<h2 class="body__strip__music__item__text__sub">Lady Gaga, Bradley Cooper</h2>
						</div>
					</div>
				</div>
				<div class="body__strip__music__break"></div>
				<div class="body__strip__music__item clearfix">
					<div class="body__strip__music__item__img">
						<img class="img--full" src="./media/cover_when-the-stars-go-blue.png"/>
					</div>
					<div class="body__strip__music__item__text">
						<div class="vertical-align">
							<h1 class="body__strip__music__item__text__title">When The Stars Go Blue</h1>
							<h2 class="body__strip__music__item__text__sub">Tim McGraw</h2>
						</div>
					</div>
				</div>
			</div>

			<h1 class="body__x__title">Instagram</h1>
			<a href="https://www.instagram.com/lovinglydeldi/" target="_blank">
				<h2 class="body__x__link">See more posts ></h2>
			</a>
			<div class="body__strip__instagram">
				<p>Instagram feed not connected yet</p>
			</div>
		</div>
	</div>
</div>